Countries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Countries">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Country">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element maxOccurs="unbounded" name="Region">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element maxOccurs="unbounded" name="City">
											<xs:complexType>
												<xs:attribute name="Name" type="xs:string" use="required" />
												<xs:attribute name="Code" type="xs:string" />
												<xs:attribute name="Latitude" type="xs:string" />
												<xs:attribute name="Longitude" type="xs:string" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="Code" type="xs:string" />
									<xs:attribute name="RegionType" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:string" use="required" />
						<xs:attribute name="Code" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>